<!-- Template References -->

<ng-template #defaultTabButtons>
  <button class="tab-button" (click)="login()">
    {{loginText}}
  </button>
  <button class="tab-button" (click)="signUp()">
    {{signUpText}}
  </button>
</ng-template>