<!-- Configurable Components with Template Partial @Inputs -->
<ng-template #customTabButtons>
  <div class="custom-class">
    <button class="tab-button" (click)="login()">
      {{loginText}}
    </button>
    <button class="tab-button" (click)="signUp()">
      {{signUpText}}
    </button>
  </div>
</ng-template>

<app-tab-container-test [headerTemplate]="customTabButtons"></app-tab-container-test>    