<ng-template>

<ng-template #defaultTabButtons>
    <button class="tab-button" (click)="login()">{{loginText}}</button>
    <button class="tab-button" (click)="signUp()">{{signUpText}}</button>
</ng-template>

<div class="lessons-list" *ngIf="lessons else loading">
    <div class="lessons-list">
        {{lessons | json}}
    </div>
</div>

<ng-template [ngIf]="lessons" [ngIfElse]="loading">
    <div class="lessons-list">
        {{lessonsList | json}}
    </div>
</ng-template>


<ng-template #loading>
    <div>Loading</div>
</ng-template>
<ng-template #estimateTemplate let-lessonsCounter="estimate">
    <div> Approximately {{lessonsCounter}} lessons ...</div>
</ng-template>
<ng-container *ngTemplateOutlet="loading"></ng-container>

<ng-container *ngTemplateOutlet="estimateTemplate; context: templateCtx"></ng-container>

<!-- Already Commentted -->
<!-- div class="lessons-list" *ngIf="lessons" *ngFor="let lesson of lessons">
    <div class="lessons-list">
        {{lesson | json}}
    </div>
</div -->


<ng-container *ngIf="lessons">
    <div class="lesson" *ngFor="let lesson of lessons">
        <div class="lesson-detail">
            {{lesson | json}}
        </div>
    </div>
</ng-container>
<ng-template #customTabButtons>
    <div class="custom-class">
        <button class="tab-button" (click)="login()">{{loginText}}</button>
        <button class="tab-button" (click)="signUp()">{{signUpText}}</button>
    </div>
</ng-template>
<tab-container [headerTemplate]="defaultTabButtons"></tab-container>

</ng-template>

<div *ngIf="course as result else Contentloading">
        <!-- <div></div> -->
        <p>{{result.description}}</p>
    </div>
<ng-template #Contentloading>
        <p>Condition is false ...</p>
</ng-template>