/* You can add global styles to this file, and also import other style files */
h1 {
    margin: 0;
  }
  
  .box {
    border: 5px solid blue;
    padding: 20px;
    margin-bottom: 10px;
  }
  
  .box.red {
    border-color: red;
  }